.contactList {
  width: 400px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.btnDelete {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  margin-left: 80px;
}
